
<!--Footer-->
<footer class="footer">

    <!--Footer Links-->
    <div class="container">

      <!--Grid row-->

      <div class="row pb-3">
        <div class="col-md-1"></div>
        <!--Grid column-->
        <div class="col-md-3">

          <div class="footer-socials mb-5 flex-center">
            <!--Facebook-->
            <a href="https://www.facebook.com/pages/BUFETE-ANDRES-ESPINOS-SL/196140020403859" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
            <!--Google +-->
            <a href="" class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
            <!--Linkedin-->
            <a href="" class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
            <a href="" class="telefono">93 488 26 82</a>
          </div>
          <div class="footer-copyright">
              <div class="container-fluid">
                  © 2018 Copyright: <a class="copyright" href=""> AESPINÓS </a>
              </div>
          </div>

        </div>
        <!--Grid column-->
          <!--Copyright-->
        <div class="col-md-5">
        </div>
        <!--/Copyright-->
        <div class="col-md-2">
          <div class="logo-megafincas">
              <a href="http://www.megafincas.com/">
                <img alt="Logo Megafincas" src="/images/logo_megafincas.jpg" title="Megafincas">
              </a>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <!--Grid row-->


    </div>
    <!--/Footer Links-->


</footer>
<!--/Footer-->
