.footer {
  background-color: #008061;
  padding: 25px;
}
.footer-socials {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-copyright {
  font-size: 12px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright {
  color: white;
  padding-left: 10px;
}
.copyright:hover {
  color: #c3c3c3;
  text-decoration: none;
}
.icons-sm {
  padding-left: 15px;
  color: white;
}
.icons-sm:hover {
  color: #c3c3c3;

}
.telefono {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}
.telefono:hover {
  color: #c3c3c3;
  text-decoration: none;
}
.logo-megafincas img{
  max-height: 80px;
  border-radius: 5px;
  justify-content: center;
}
