.banner {
  background-image: url(../../images/despacho-historia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-title {
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.inicio-container {
  background-image: url(../../images/home-background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  opacity: 0.2;
  filter: alpha(opacity=50);
}
.inicio-content {
  padding: 80px;
}
