<div class="container">
  <div class="contacto-main">

    <div class="row">
      <h4 class="contacto-titulo">Contacte con nosotros !</h4>
      <p class="contacto-texto">Nuestras oficinas están ubicadas en la calle Bruc 71 5º1ª 08009 en el Eixample de Barcelona.
      Solicite información sobre cualquier duda al: </p>

      <div class="col-md-6 contacto-departamentos">
        <p>Departamento Horizontal</p>
        <p>Tel: 93.488.26.82.</p>
        <p>Fax: 93.488.19.12</p>
        <p>Mail: espinos@megafincas.com</p>
      </div>

      <div class="col-md-6 contacto-departamentos">
        <p>Departamento Vertical</p>
        <p>Tel: 93.487.06.31 </p>
        <p>Fax: 93.487.55.98</p>
        <p>Mail: vertical@andresespinos.com</p>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6">
        <p>O escríbanos su consulta:</p>
        <form action="get">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@ejemplo.com">
          </div>
            <div class="form-group">
            <label for="exampleFormControlInput1">Teléfono</label>
            <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="600000000">
          </div>
            <div class="form-group">
            <label for="exampleFormControlInput1">Asunto</label>
            <input type="asunto" class="form-control" id="exampleFormControlInput1" placeholder="Asunto">
          </div>


          <div class="form-group">
            <label for="exampleFormControlTextarea1">Consulta</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aquí..."></textarea>
          </div>
        </form>
      </div>

      <div class="col-md-6">GMaps</div>

    </div>
  </div>
</div>
