<div class="container">
  <div class="empresa-main">

    <h4>Nuestra Empresa</h4>
    <p>Actualmente, más de 30 profesionales colaboramos en la Administración, que cuenta con un total de 10 abogados especializados en Derecho Inmobiliario, además de expertos en materia contable, administrativa, seguros y laboral.</p>
    <p>El Despacho hace especial hincapié en la formación de los colaboradores, organizando junto con otros prestigiosos Despachos de Barcelona, cursos, conferencias y seminarios que mejoren los conocimientos para dar un buen servicio a los administrados.El Bufete Espinós fue creado, hace ya más de 50 años, por Andrés Espinós Tayá, Abogado y Administrador de Fincas, el cual ha participado de forma activa en la Sociedad Civil Barcelonesa, tanto en la vertiente profesional como vocal del Ilustre Colegio de Abogados, como en la deportiva, habiendo sido miembro del Comité Olímpico Español y Vocal Fundador del Salón Náutico Internacional de Barcelona.</p>
    <p>Nuestro despacho forma parte, como Asociado exclusivo en Catalunya, del Grupo Megafincas, compuesto por los principales Despachos de Administración de Fincas del resto de España.</p>
    <p>Nuestras oficinas están ubicadas en el “Eixample Dret” de Barcelona, y en ellas disponemos de todas las herramientas necesarias para poder dar una completa atención y servicio a los clientes, cubriendo todos los ámbitos del mundo de la Gestión Inmobiliaria: atención telefónica, con el tratamiento de incidencias (incluyendo un teléfono de emergencias 24horas), contabilización de ingresos y pagos, negociación de presupuestos y redacción de contratos de obras, elaboración y presentación de los formularios fiscales, etc.</p>

  </div>
</div>
