<div class="container">
  <div class="historia-main">

    <h4>Nuestra Historia</h4>
    <p>El Bufete Espinós fue creado, hace ya más de 50 años, por Andrés Espinós Tayá, Abogado y Administrador de Fincas, el cual ha participado de forma activa en la Sociedad Civil Barcelonesa, tanto en la vertiente profesional como vocal del Ilustre Colegio de Abogados, como en la deportiva, habiendo sido miembro del Comité Olímpico Español y Vocal Fundador del Salón Náutico Internacional de Barcelona.</p>
    <p>El despacho se fue ampliando con la incorporación de 4 de sus hijos, Andrés, Rita, Anna Isabel y Juan Félix Espinós Pérez, los cuales, junto con el también Abogado Agustín Hernández Almirall, forman el núcleo de socios del mismo.</p>
    <p>En el año 1994, Andrés Espinós Pérez publicó el libro “Comunidades de Propietarios. Problemas y soluciones” dentro de la colección Biblioteca Jurídica Planeta, (llegando a las cuatro ediciones) con la intención de dar una respuesta práctica a los problemas de convivencia diaria en las Comunidades.</p>
    <p>Posteriormente, y con motivo de la aprobación del “Llibre Cinqué del Codi Civil Català”, en cuyo artículo 553 se regula el nuevo régimen de la Propiedad Horizontal en Catalunya, se publicó una edición comentada, resaltando las novedades que se introducían con la nueva normativa.</p>
    <p>También cabe resaltar que uno de los socios del Despacho, el Letrado Agustín Hernández Almirall participa como ponente en los cursos sobre Propiedad Horizontal que organiza la Comisión de Derecho Civil del Ilustre Col·legi d’Advocats de Barcelona.</p>

  </div>
</div>
