<div class="container">
  <div class="horizontal-main">
    <h4> Departamento Horizontal </h4>
    <p>Este Despacho está fundamentalmente dedicado a la Administración de Fincas y en especial a las Comunidades de Propietarios desde el año 1959.</p>
    <p>Se ha ido ampliando desde la fecha citada, siendo en la actualidad ocho los Letrados los que aportan su trabajo y conocimiento en este Departamento, ofreciendo además de la gestión seria y exhaustiva de la Administración el estudio e implantación del ordenamiento jurídico vigente, existiendo un completo conocimiento de las disposiciones legales que rigen en Propiedad Horizontal.</p>
    <p>Conocemos el mundo de las Comunidades, con sus problemática especifica, y estamos preparados para dar respuesta y solución a la misma y nuestros clientes, muchos desde la construcción del edificio están concentrados principalmente en Barcelona ciudad, Sitges, Sant Cugat del Vallés y Caldes d’Estrach.</p>
    <p>Los programas y desarrollos informáticos nos permiten administrar Complejos Inmobiliarios, con el específico control del personal laboral de las Comunidades (elaboración de nóminas, liquidación de Seguros Sociales, etc.) y la correspondiente Prevención de Riesgos Laborales.</p>
    <p>También disponemos de Secciones especializadas en la tramitación de Subvenciones ante los Organismos Públicos y en la gestión de las Pólizas de Seguros de los Edificios.</p>
    <p>Otro aspecto que no olvidamos es el de verificar el cálculo correcto de las repercusiones catastrales que el Centro de Gestión Catastral aplica a nuestras Fincas, por la enorme trascendencia que ello tiene, no solo en el pago periódico de Impuestos (IBI) si no en posibles futuras transmisiones.</p>
    <p>La asociación al GRUPO MEGAFINCAS, siendo los únicos en la Provincia de Barcelona, nos permite el uso exclusivo en ella de toda la gama de actuaciones en la gestión y Administración de fincas en relación con los productos, servicios, oficios, aprovisionamientos, seguros, etc. en una actuación estandarizada.</p>
  </div>
</div>
