---
title: Bufete Espinós - Inicio
---

<div class="banner">
  <div class="banner-content">
    <h2 class="banner-title">Gestionamos tu comunidad de propietarios</h2>
  </div>
</div>

<div class="inicio-container">
  <div class="inicio-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="cards">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <ul>
                <h4>Comunidad de Propietarios</h4>
                <li>Gestión de Juntas</li>
                <li>Contabilidad</li>
                <li>Incidencias</li>
                <li>Asesoramiento jurídico</li>
              </ul>
            </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <ul>
                <h4>Alquileres</h4>
                <li>Gestión comercial</li>
                <li>Gestión administrativa</li>
                <li>Gestión fiscal</li>
                <li>Asesoramiento jurídico</li>
              </ul>
            </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <ul>
                <h4>Compra-venta</h4>
                <li>Gestión comercial y administrativa</li>
                <li>Personal shopper</li>
                <li>Valoración fiscal</li>
                <li>Asesoramiento jurídico</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="row"><p></p></div>
      <div class="row">
        <div class="col-md-12">

          <div class="cards">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <h4>Confianza</h4>

            </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <h4>Rigurosidad</h4>

            </div>

            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/fondo-gris.jpg)">
              <h4>Flexibilidad</h4>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="inicio-pisos">


</div>

