<div class="container">
  <div class="juridico-main">
    <h4> Departamento Jurídico </h4>
    <p>Disponemos de un Departamento Jurídico que se encarga de hacer un seguimiento y dar solución a los problemas que se produzcan en las Fincas administradas, ya sea en relación al cobro de cuotas o recibos impagados, ó en dar respuesta a las dudas que tengan los clientes, tanto de temas del ámbito de la Ley de Propiedad Horizontal, como en las referidas a la Ley de Arrendamientos Urbanos.</p>
    <p>También está preparado para asesorar a nuestros clientes en cuestiones relativas a Sucesiones, planificación patrimonial y en las inversiones o des-inversiones inmobiliarias que quieran ejecutar, vigilando todos los aspectos jurídico-fiscales que ello comporta.</p>
  </div>
</div>
