<div class="container">
  <div class="vertical-main">

    <h4> Departamento Vertical </h4>
    <p>Uno de nuestros Departamentos más activos es el que corresponde a la Gestión de Patrimonios en Propiedad Vertical, integrado por siete profesionales que sus objetivos son conseguir la máxima rentabilización del patrimonio que nos confían nuestros clientes y a tal fin se encargan de la búsqueda de inquilinos verificando que reúnan las mejores condiciones de seriedad y solvencia, negociación y redacción de contratos, seguimiento de obras y reparaciones, cumplimentación de la normativa Fiscal (IVA, Mod.184, etc) y finalmente la liquidación de los alquileres. </p>



    <p>Disponemos de una amplia cartera de pisos y locales anunciados a través de la web con todos los datos precisos para una rápida salida comercial.</p>

  </div>
</div>
